* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 20px;
  width: 100%;
  max-width: 360px;
  border-radius: 14px;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

input, select, button {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 16px;
}

button {
  background: #22c55e;
  color: white;
  border: none;
  border-radius: 10px;
}
